<% include ../header.html %>
                    <section class="mdl-grid mdl-grid--no-spacing">
                        <div class="cl-card-message mdl-card mdl-shadow--2dp">
                            <div class="mdl-card__title cl-card__title">
                                <h2 class="mdl-card__title-text"><%=h %></h2>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <%=p %>
                            </div>
                        </div>
                    </section>
<% include ../footer.html %>