<% include ../header.html %>
                    <section class="mdl-grid mdl-grid--no-spacing">
                        <form id="cl-form" class="mdl-cell mdl-cell--12-col mdl-shadow--2dp" action="/corporation/doRegister/" method="POST">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <span id="cl-username-prompt"></span>
                                <input class="mdl-textfield__input" type="text" name="name" pattern="[a-zA-Z\u4e00-\u9fa5][a-zA-Z0-9\u4e00-\u9fa5]+" id="username">
                                <label class="mdl-textfield__label" for="username">单位名称</label>
                                <span class="mdl-textfield__error">单位名称有误，只能包含中文、字母或数字的组合，且以中文或字母开头。</span>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <span class="cl-radio-title">身份</span>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="bl-option-1">
                                    <input type="radio" id="bl-option-1" class="mdl-radio__button" name="belong" value="社团">
                                    <span class="mdl-radio__label">社团</span>
                                </label>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="bl-option-2">
                                    <input type="radio" id="bl-option-2" class="mdl-radio__button" name="belong" value="部门">
                                    <span class="mdl-radio__label">部门</span>
                                </label>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="bl-option-3">
                                    <input type="radio" id="bl-option-3" class="mdl-radio__button" name="belong" value="团队">
                                    <span class="mdl-radio__label">团队</span>
                                </label>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="bl-option-4">
                                    <input type="radio" id="bl-option-4" class="mdl-radio__button" name="belong" value="商店">
                                    <span class="mdl-radio__label">商店</span>
                                </label>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="bl-option-5">
                                    <input type="radio" id="bl-option-5" class="mdl-radio__button" name="belong" value="公司">
                                    <span class="mdl-radio__label">公司</span>
                                </label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <span id="cl-email-prompt"></span>
                                <input class="mdl-textfield__input" type="email" name="email" pattern="\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*" id="email">
                                <label class="mdl-textfield__label" for="email">电子邮件</label>
                                <span class="mdl-textfield__error">电子邮箱有误，请重填。</span>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="tel" name="tel" pattern="(\(\d{3,4}\)|\d{3,4}-|\s)?\d{7,14}" id="tel">
                                <label class="mdl-textfield__label" for="tel">手机号码或电话号码</label>
                                <span class="mdl-textfield__error">手机号码有误，请重填。</span>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="url" name="url" id="url">
                                <label class="mdl-textfield__label" for="url">网址</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" name="address" id="address">
                                <label class="mdl-textfield__label" for="address">地址</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <textarea class="mdl-textfield__input" type="text" name="introduction" rows="5" id="introduction"></textarea>
                                <label class="mdl-textfield__label" for="introduction">介绍</label>
                            </div>
                            <p>
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">注册</button>
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="reset">重置</button>
                            </p>
                        </form>
                    </section>
                    <script data-main="/scripts/main" src="/scripts/libs/require.js"></script>
<% include ../footer.html %>