<% include header.html %>
                    <section class="mdl-grid mdl-grid--no-spacing">
                        <article class="cl-card-wide mdl-card mdl-shadow--2dp">
                            <div class="mdl-card__title">
                                <div class="mdl-list__item mdl-list__item--two-line cl-list__item">
                                    <span class="mdl-list__item-primary-content">
                                        <img class="mdl-list__item-avatar" src="/upload/avatars/avatar.png">
                                        <span>中南民族大学新闻网（部门）</span>
                                        <span class="mdl-list__item-sub-title">2016.08.20 23:23</span>
                                    </span>
                                </div>
                                <div class="mdl-layout-spacer"></div>
                                <button id="menu1" class="mdl-button mdl-js-button mdl-button--icon">
                                    <i class="material-icons">more_vert</i>
                                </button>
                                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="menu1">
                                    <li class="mdl-menu__item">
                                        <a><i class="material-icons">star</i>收藏</a>
                                    </li>
                                    <li class="mdl-menu__item">
                                        <a><i class="material-icons">warning</i>举报</a>
                                    </li>
                                    <li disabled class="mdl-menu__item">
                                        <a><i class="material-icons">close</i>取消</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="mdl-card__title cl-card__title">
                                <h2 class="mdl-card__title-text">学校创新开展新生入学教育</h2>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <p>为充分调动新生入学前自主学习、自我教育的热情与积极性，今年我校创新开展新生入学教育，将入学教育前置到新生到校之前，帮助2016级学生在到校前完成大学入学适应的相关学习，为其完成从中学到大学、从少年到青年的人生转变提供引导。</p>
                                <p>此次新生入学自主学习教育分为新生网上心理健康教育指导、麦客安全微课安全意识教育、学生手册自主学习和《赢在民大》成长指导等4个板块。以新生网上心理健康教育指导为例,新生在家即可访问我校为学生设立的心理素质能力测试平台，自主测试评估自身的心理素质能力与特点，并通过测试中的小调查，反馈自身对于未来4年在校期间心理素质能力提升的需求与建议。这一测试平台为培育新生的心理健康意识，以及帮助他们了解学校心理健康教育相关信息提供了基础，使他们在大学期间的身心健康发展迈出了良好的第一步。</p>
                                <p>根据统计，8月1日至19日，已有近1000名新生自主完成了测试，同时提交了调查问卷。从目前反馈的信息来看，人际交往、自信心、时间管理与职业规划是新生最为关注的心理能力。</p>
                                <p>通过本次新生入学教育，学校也充分收集了相关信息和大数据，为学生成长发展的精准指导做好了准备。新生到校后，学校还将通过“新生成长训练营”的系列安排，助力学生在大学期间成长成才，努力让每一个学生赢在民大。</p>
                            </div>
                            <div class="mdl-card__media" style="padding-bottom: 100%;"></div>
                        </article>
                        <article class="cl-card-wide mdl-card mdl-shadow--2dp">
                            <div class="mdl-card__title">
                                <div class="mdl-list__item mdl-list__item--two-line cl-list__item">
                                    <span class="mdl-list__item-primary-content">
                                        <img class="mdl-list__item-avatar" src="/upload/avatars/avatar.png">
                                        <span>中南民族大学新闻网（部门）</span>
                                        <span class="mdl-list__item-sub-title">2016.08.12 20:20</span>
                                    </span>
                                </div>
                                <div class="mdl-layout-spacer"></div>
                                <button id="menu2" class="mdl-button mdl-js-button mdl-button--icon">
                                    <i class="material-icons">more_vert</i>
                                </button>
                                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="menu2">
                                    <li class="mdl-menu__item">
                                        <a><i class="material-icons">star</i>收藏</a>
                                    </li>
                                    <li class="mdl-menu__item">
                                        <a><i class="material-icons">warning</i>举报</a>
                                    </li>
                                    <li disabled class="mdl-menu__item">
                                        <a><i class="material-icons">close</i>取消</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="mdl-card__title cl-card__title">
                                <h2 class="mdl-card__title-text">我校招就处看望基层就业毕业生</h2>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <p>8月5日至10日，我校招处副处长潘宏飞一行3人代表学校，赴重庆石柱、湖南龙山、湖北利川、宣恩、长阳、仙桃等三省六县看望基层就业毕业生。</p>
                                <p>此次受访毕业生均是基层就业毕业生中的优秀代表，包括深入基层的选调生，奉献乡村教育的特岗教师，到村任职的大学生村官，支教、支农、支医、扶贫的“三支一扶”工作人员。在当地，他们的工作业绩获得了充分肯定。</p>
                                <p>每到一处，几位老师与毕业生所在单位座谈或与毕业生面对面亲切交谈，了解他们的生活、工作情况，倾听他们工作以来的所思所想，认真收集他们对母校人才培养、招生就业等工作的建议。</p>
                                <p>潘宏飞等三位老师鼓励受访毕业生们在思想上要有梦想、有追求；在工作中要善积累、善总结，在基层这个大舞台上磨练自己、升华自己，让无悔的青春在为国家和人民的奉献中焕发光彩！受访毕业生感谢母校对他们的关怀，决心要脚踏实地，在已有成绩的基础上，更进一步明确奋斗目标；在服务基层的同时，实现自己的梦想，努力回报国家、回报母校。</p>
                                <p>我校历来积极鼓励、大力支持毕业生到基层就业。每年都有大量的毕业生带着知识与梦想，在基层这片广阔天地，践行“笃信好学、自然宽和”的校训，实现自己的人生价值。</p>
                            </div>
                        </article>
                    </section>
<% include footer.html %>