<% include header.html %>
                    <section class="mdl-grid mdl-grid--no-spacing">
                        <article class="cl-card-wide mdl-card mdl-shadow--2dp">
                            <div class="mdl-card__title">
                                <div class="mdl-list__item mdl-list__item--two-line cl-list__item">
                                    <span class="mdl-list__item-primary-content">
                                        <img class="mdl-list__item-avatar" src="/upload/avatars/avatar.png">
                                        <span>计算机科学学院（学院）</span>
                                        <span class="mdl-list__item-sub-title">2016.08.20 18:20</span>
                                    </span>
                                </div>
                                <div class="mdl-layout-spacer"></div>
                                <button id="menu1" class="mdl-button mdl-js-button mdl-button--icon">
                                    <i class="material-icons">more_vert</i>
                                </button>
                                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="menu1">
                                    <li class="mdl-menu__item">
                                        <a><i class="material-icons">star</i>收藏</a>
                                    </li>
                                    <li class="mdl-menu__item">
                                        <a><i class="material-icons">warning</i>举报</a>
                                    </li>
                                    <li disabled class="mdl-menu__item">
                                        <a><i class="material-icons">cancel</i>取消</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="mdl-card__title cl-card__title">
                                <h2 class="mdl-card__title-text">2015年计算机软件设计大赛</h2>
                            </div>
                            <div class="mdl-card__supporting-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.
                            </div>
                            <div class="mdl-card__media" style="padding-bottom: 100%;"></div>
                        </article>
                        <article class="cl-card-wide mdl-card mdl-shadow--2dp">
                            <div class="mdl-card__title">
                                <div class="mdl-list__item mdl-list__item--two-line cl-list__item">
                                    <span class="mdl-list__item-primary-content">
                                        <img class="mdl-list__item-avatar" src="/upload/avatars/avatar.png">
                                        <span>NewThread创新实验室（实验室）</span>
                                        <span class="mdl-list__item-sub-title">2016.08.20 18:20</span>
                                    </span>
                                </div>
                                <div class="mdl-layout-spacer"></div>
                                <button id="menu2" class="mdl-button mdl-js-button mdl-button--icon">
                                    <i class="material-icons">more_vert</i>
                                </button>
                                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="menu2">
                                    <li class="mdl-menu__item">
                                        <a><i class="material-icons">star</i>收藏</a>
                                    </li>
                                    <li class="mdl-menu__item">
                                        <a><i class="material-icons">warning</i>举报</a>
                                    </li>
                                    <li disabled class="mdl-menu__item">
                                        <a><i class="material-icons">cancel</i>取消</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="mdl-card__title cl-card__title">
                                <h2 class="mdl-card__title-text">哈哈哈哈</h2>
                            </div>
                            <div class="mdl-card__supporting-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.
                            </div>
                        </article>
                    </section>
<% include footer.html %>