<% include ../header.html %>
                    <section class="mdl-grid mdl-grid--no-spacing">
                        <form class="cl-form mdl-cell mdl-cell--12-col mdl-shadow--2dp" action="/doRegister/" method="POST">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="email" name="email" autofocus id="email">
                                <label class="mdl-textfield__label" for="email">电子邮箱</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" name="username" id="username">
                                <label class="mdl-textfield__label" for="username">用户名</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <span class="cl-radio-title">性别</span>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="sex-option-1">
                                    <input type="radio" id="sex-option-1" class="mdl-radio__button" name="sex" value="男">
                                    <span class="mdl-radio__label">男</span>
                                </label>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="sex-option-2">
                                    <input type="radio" id="sex-option-2" class="mdl-radio__button" name="sex" value="女">
                                    <span class="mdl-radio__label">女</span>
                                </label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="tel" name="tel" id="tel">
                                <label class="mdl-textfield__label" for="tel">手机号码或电话号码</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="password" name="password" id="password">
                                <label class="mdl-textfield__label" for="password">密码</label>
                            </div>
                            <p>
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">注册</button>
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="reset">重置</button>
                            </p>
                        </form>
                    </section>
<% include ../footer.html %>